<ui-select
	ng-model="selected[fieldname]"
	theme="select2"> 
	
	<ui-select-match placeholder="Select a timezone">{{$select.selected}}</ui-select-match> 
	
	<ui-select-choices repeat="tz in tzs | filter: $select.search">
		<div ng-bind-html="tz | highlight: $select.search"></div>
	</ui-select-choices>
	 
</ui-select>