<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" ng-controller="SingleMessageMessagingController">
            <div class="panel-body">{{message}}</div>
        </div>
    </div>
</div>

