<div class="row">
    <div class="col-lg-12">
        <form class="form-createtenant" name="ctenantform" role="form">
            <h2 class="form-signin-heading">Create branch</h2>
            <hr />
            <div class="form-group">
                <label for="exampleInputEmail1">Branch name</label>
                <!--  -->
                <input type="text" class="form-control" ng-model="tName" required="" ng-minlength="3" ng-maxlength="45" id="exampleInputEmail1" placeholder="Branch name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Branch unique name</label>
                <!--  -->
                <input type="text" class="form-control" ng-pattern="/^\s*\w*\s*$/" ng-model="tUniqueName" required="" ng-minlength="3" ng-maxlength="45" id="exampleInputEmail1" placeholder="Branch unique name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <!--  -->
                <input type="text" class="form-control" ng-model="fName" required="" ng-minlength="3" ng-maxlength="45" id="exampleInputEmail1" placeholder="First name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Super admin username</label>
                <!--  -->
                <input type="text" class="form-control" ng-model="uName" required="" ng-minlength="3" ng-maxlength="45" ng-trim="" id="exampleInputEmail1" placeholder="Super admin username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <!--  -->
                <input type="password" class="form-control" ng-model="pass" required="" ng-minlength="3" ng-maxlength="45" ng-trim="" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" ng-disabled="ctenantform.$invalid" class="btn btn-lg btn-success btn-block" ng-click="createTenant();">Create</button>

        </form>
    </div>
</div>

