<div class="vcontainer fullheight">
	<video
		loop
		id="loginvideo"
		vidloop
		autoplay
		class="loginvideo"
		oncontextmenu="return false"
		poster="https://az29176.vo.msecnd.net/videocontent/DallasDivideCO_TandemStock_66492190-768_EN-AU1395348791.jpg">

		<source src="https://az29176.vo.msecnd.net/videocontent/DallasDivideCO_TandemStock_66492190-768_EN-AU.mp4">
		<source src="https://az29176.vo.msecnd.net/videocontent/DallasDivideCO_TandemStock_66492190-768_EN-AU.ogv">
	</video>

	<div class="row">
		<div class="col-lg-12">
			<alert
				ng-show="specifyBranchUniqueName"
				type="danger"
				close="closeAlert()">Specify the branch unique name</alert>

			<div class="form-signin animated fadeInUp">
				<form
					name="loginform"
					role="form">
					<h2 class="form-signin-heading">Please sign in</h2>
					<input
						type="text"
						ng-model="username"
						class="form-control"
						placeholder="Username"
						required
						autofocus />
					<!--  -->
					<input
						type="password"
						ng-model="password"
						class="form-control"
						placeholder="Password"
						required />
					<!--  -->
					<button
						class="btn btn-lg btn-success btn-block animated fadeInRight"
						ng-disabled="loginform.$invalid"
						type="submit"
						ng-click="login(username,password);">
						Sign in
						<paper-ripple fit />
					</button>
					<!--  -->
				</form>

				<div
					style="margin-top: 20px;"
					class="animated fadeInLeft">
					<a
						class="btn btn-lg btn-default btn-block"
						href="#/createtenant"
						type="submit"><span>Create branch</span> <paper-ripple fit /> </a>
				</div>

			</div>
		</div>
	</div>
</div>