<div ng-controller="TestWorkflowFeatureController">
	<div pageheading>Workflow Feature Tester</div>

	<div class="row">
		<div class="col-lg-6">
			<p class="lead">{{data.title}}</p>

			<div class="row">
				<div class="col-lg-12">
					<ng-include src="settingstemplate"></ng-include>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-lg-12">
					<button
						class="btn btn-primary pull-right"
						ng-click="okclicked()">Apply</button>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<p class="lead">Preview</p>

			<ng-trunk-include
				class="animated fadeInUp"
				ng-if="showPreview"
				view="viewtemplate.view"
				params="viewtemplate.params"
				featureincrementedid="0"></ng-trunk-include>

			<div
				class="text-muted"
				ng-if="!showPreview">Apply to see preview</div>
		</div>
	</div>
</div>