<div class="message">
	<div class="row">
		<div class="col-md-8">
			<span class="chat-arrow"></span> <span class="chat-datetime">at
				July 06, 2014 17:06</span> <span class="chat-body">{{message}}</span>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-danger btn-xs"
				ng-click="deleteMessage(msgid)">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
</div>