<module-ui-enabler
	name="messaging"
	ng-controller="MessagingController">

<div pageheading>{{module.title}}</div>

<div class="row">
	<div class="col-lg-12">
		<feature-ui-enabler name="list">

		<div class="row">
			<div class="col-lg-6">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li
										class="in"
										ng-repeat="m in messages"><img
										src="core/img/avatar.gif"
										class="avatar img-responsive"> <message-directive
											deletecallback="listAllMessages"
											message="m.message"
											msgid="m.id"></message-directive></li>
								</ul>
							</div>
						</div>

						<div class="chat-form">
							<div class="input-group">
								<input
									ng-keyup="$event.keyCode == 13 ? sendMessage() : null"
									type="text"
									ng-model="message.message"
									class="form-control"
									placeholder="Type your message here" />

								<!--  -->
								<span
									id="btn-chat"
									class="input-group-btn">
									<button
										type="button"
										ng-click="sendMessage()"
										class="btn btn-green">
										<i class="fa fa-check"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</feature-ui-enabler>
	</div>
</div>
</module-ui-enabler>