<!-- UI for the settings dialog -->
<div
	class="row"
	ng-controller="MathsSettingsController">
	<div class="col-lg-12">
		<input
			type="text"
			ng-model="param.num1"
			class="form-control"
			placeholder="Number 1">
		<!--  -->
		<br />
		<!--  -->
		<input
			type="text"
			ng-model="param.num2"
			class="form-control"
			placeholder="Number 2">
	</div>
</div>