<!-- UI for the settings dialog -->
<div
	class="row"
	ng-controller="GeoFencingSettingsController">
	<div class="col-lg-12">
		<input
			type="text"
			ng-model="param.fence"
			class="form-control"
			placeholder="Centre of fence">
		<!--  -->
		<br />
		<!--  -->
		<input
			type="text"
			ng-model="param.radius"
			class="form-control"
			placeholder="Radius">
	</div>
</div>