<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://maps.googleapis.com/maps/api/js?libraries=geometry,places&sensor=false';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-canvas {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
</style>

<module-ui-enabler name="mapplacement" ng-controller="MapPlacementController">

<div pageheading>Map Placement</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12">
    	<br />
        <input type="text" id="address" ng-model="param.Address" class="form-control" placeholder="Search">
        <!--  -->
        <!--  -->
        <hr />
        <button type="button" class="btn btn-info" ng-click="showLocation()">Map View</button>
        <button type="button" class="btn btn-info" ng-click="showStreetView()">Street View</button>
        <br />
        <br />
        <hr />
        <button type="button" class="btn btn-success" ng-click="showParking()">Parking</button>
        <hr />
        <my-maps id = map-canvas></my-maps>
        
           
    </div>
</div>
</div>

</module-ui-enabler>