<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-direction {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
    	
    	#directionsPanel {
    		height: 100%;
    		float: none;
    		width: 800px;
    		overflow: auto;
    	}
    	
</style>

<module-ui-enabler name="multiplelocations" ng-controller="MultipleLocationsController">

<div pageheading>Multiple Navigation</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12">
    	<br />
    	<p>Click Current Location button once before proceeding to Navigate ! Thank you ! </p>
    	<br />
    	<button type="button" class="btn btn-info" ng-click="getCurrent()">Current Location</button>
    	<hr />
    	<div id="multLoc">
        <button type="button" class="btn btn-info" ng-click="addTextBox()">Add locations</button>
        <!--  -->
        <!--  -->
        </div>
        <hr />
        	<input id ="chkTollBox" type="checkbox"> Avoid Tolls
        <hr />
       	<div id="cusDiv">
       		<input id ="chkDirectBox" type="radio" name="CustOpt" ng-model="checked"> Direct Route
       		<input id ="chkBox" type="radio" name="CustOpt"> Reverse directions
       		<input id ="chkCustomBox" type="radio" name="CustOpt" ng-click="showCustom()"> Custom Directions
       	</div>
       	<hr />
       	<div>
       		<input id ="chkDestBox" type="checkbox"> Check if destination is the start point
       	</div>
		<hr />
        <button type="button" class="btn btn-success" ng-click="showRoute()">Show Route</button>
        <br />
        <br />
        
        <my-dir id = map-direction></my-dir>
        <div id="directionsPanel"></div>
        <div id = "map-canvas"></div>
           
    </div>
</div>
</div>

</module-ui-enabler>