<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-direction {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
    	
    	#directionsPanel {
    		height: 100%;
    		float: none;
    		width: 800px;
    		overflow: auto;
    	}
    	
</style>

<module-ui-enabler name="multiplelocations" ng-controller="ProvideLocationsController">

<div pageheading>Provide Locations</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12" ng-show="{{moduleProvider.loggedInUserDetails.is_super_admin}}">
    	<div id="multUser" ng-controller="ViewAllUsersController">
    	<select id="userDetails" class="form-control">
			<option class="in" ng-repeat="u in users" value="{{u.user_id}}">{{u.name}}</option>
		</select>
		<hr />
		<input type="text" id="groupNo" class="form-control" placeholder="Group Number">
		</div>
		<hr />
		<div>
		<button type="button" class="btn btn-info" ng-click="addBox()">Add locations</button>
		</div>
		<hr/>
		<div id="prodLoc">

		</div>
		
		<div>
		<hr />
		<button type="button" class="btn btn-success" ng-click="provideLoc()">Provide Locations</button>
		</div>
        <!--  -->
        <!--  -->
        
		<hr />           
    </div>
    <div class="col-lg-12" ng-hide="{{moduleProvider.loggedInUserDetails.is_super_admin}}">
    <div>
    <button type="button" class="btn btn-danger" ng-click="getCurrent()">Current Location</button>
    <hr />
    <select id="grpDetails" class="form-control">
			<option class="in" ng-repeat="u in userLoc">{{u.group}}</option>
	</select>
	<button type="button" class="btn btn-info" ng-click="getDetails()">Get Details</button>
    </div>
    <hr />
    <div id="prodUserLoc">
    
    </div>
    <hr />
        	<input id ="TollBox" type="checkbox"> Avoid Tolls
    <hr />
    <div id="cusDiv">
           	<input id ="DirectBox" type="radio" name="CustOpt" ng-model="checked"> Direct Route
           	<input id ="RevBox" type="radio" name="CustOpt"> Reverse directions
       		<input id ="CustomBox" type="radio" name="CustOpt" ng-click="showCustomAddress()"> Custom Directions
    </div>
    <hr />
    <div id="cusOrderDiv">

    </div>
    <hr />
    <div>
    	<input id ="DestBox" type="checkbox"> Check if destination is the start point
    </div>
    <div>
    <hr />
    <button type="button" class="btn btn-success" ng-click="showUserRoute()">Show Route</button>
    <br />
    <br />
        
        <my-dir id = map-direction></my-dir>
        <div id="directionsPanel"></div>
        <div id = "map-canvas"></div>
    </div>
    </div>
</div>
</div>

</module-ui-enabler>