<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-canvas {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
</style>

<module-ui-enabler name="geofencing" ng-controller="GeoFencingController">

<div pageheading>Geofencing</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12">
    	<br />
    	<input type="text" id="name" ng-model="param.name" class="form-control" placeholder="Fence name">
    	<!--  -->
        <!--  -->
        <input type="text" id="fence" ng-model="param.fence" class="form-control" placeholder="Centre of fence">
        <!--  -->
        <!--  -->
        <input type="text" id="radius" ng-model="param.radius" class="form-control" placeholder="Radius">
        <!--  -->
        <!--  -->
        <form>
        <input type="radio" id="miles" name="distance" ng-model="param.miles" class="form-control" placeholder="Miles">Miles
        <!--  -->
        <!--  -->
        <input type="radio" id="kms" name="distance" ng-model="param.kms" class="form-control" placeholder="Kilometers">Kilometers
        <!--  -->
        <!--  -->
        <input type="radio" id="meters" name="distance" ng-model="param.meters" class="form-control" placeholder="Meters">Meters
        </form>
        <hr />
        <button type="button" class="btn btn-default" ng-click="createFence()">Create Fence</button>
        <br />
        <br />
        <my-fence id = map-canvas></my-fence>
        <br />
        <div class="geofence">
								<ul class="geo_fence">
									<li
										class="in"
										ng-repeat="f in fences">
										<div class="fences">
											<span class="fence-arrow"></span> 
											<a href="" ng-click = "showFence(f.lat, f.lng, f.radius)" class="fence-name">{{f.name}}</a>
										</div>
								</ul>
		</div>
		<hr />
		
        
           
    </div>
</div>
</div>

</module-ui-enabler>