<!-- UI for the settings dialog -->
<div
	class="row"
	ng-controller="NavigationSettingsController">
	<div class="col-lg-12">
		<input
			type="text"
			ng-model="param.srcLat"
			class="form-control"
			placeholder="Source Latitude">
		<!--  -->
		<br />
		<!--  -->
		<input
			type="text"
			ng-model="param.srcLng"
			class="form-control"
			placeholder="Source Longitude">
			<!--  -->
		<br />
		<!--  -->
		<input
			type="text"
			ng-model="param.destLat"
			class="form-control"
			placeholder="Destination Latitude">
			<!--  -->
		<br />
		<!--  -->
		<input
			type="text"
			ng-model="param.destLng"
			class="form-control"
			placeholder="Destination Longitude">
	</div>
</div>