<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-canvas {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
    	
    	#directionsPanel {
    		height: 100%;
    		float: none;
    		width: 800px;
    		overflow: auto;
    	}
    	
</style>

<module-ui-enabler name="masterschedule" ng-controller="MasterController">

<div pageheading>Master Schedule</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12">
    <div id="admin" ng-show="{{moduleProvider.loggedInUserDetails.is_super_admin}}">
    	<br />
    	<h4>Enter the Property details</h4>
    	<br />
    	<input type="text" id="name" ng-model="param.name" class="form-control" placeholder="Name">
    	<br />
    	<br />
    	<input type="text" id="name" ng-model="param.unit" class="form-control" placeholder="Unit">
    	<input type="text" id="name" ng-model="param.street" class="form-control" placeholder="Street">
    	<input type="text" id="name" ng-model="param.suburb" class="form-control" placeholder="Suburb">
    	<br />
    	<br />
    	<input type="text" id="name" ng-model="param.city" class="form-control" placeholder="City">
    	<br />
    	<br />
    	<input type="text" id="name" ng-model="param.state" class="form-control" placeholder="State">
    	<input type="text" id="name" ng-model="param.postcode" class="form-control" placeholder="Postcode">
    	<hr />
    	<div id="Users" ng-controller="ViewAllUsersController">
    	<h5>Assign the Property to</h5>
    	<select id="user" class="form-control">
			<option class="in" ng-repeat="u in users" value="{{u.user_id}}">{{u.name}}</option>
		</select>
		<input type="text" id="name" ng-model="param.noins" class="form-control" placeholder="Number of Inspections">
		</div>
		<hr />
    	<button type="button" class="btn btn-success" ng-click="saveProp()">Save Property</button>
    	<hr />
    	<input type="text" id="name" ng-model="param.file" class="form-control" placeholder="Filename">
    	<button type="button" class="btn btn-danger" ng-click="readProp()">Get from file</button>
    </div>
    <div id="others" ng-hide="{{moduleProvider.loggedInUserDetails.is_super_admin}}">
    	<button type="button" class="btn btn-info" ng-click="getCurrent()">Current Location</button>
    	<h4>Properties to inspect today</h4>
    	<div ng-repeat="i in final_add">
    	<a id="ins-add" href="" ng-click = "navigate(i.unit,i.street,i.subUrb,i.city)" class="address">{{i.unit}} {{i.street}}, {{i.subUrb}}, {{i.city}}, {{i.state}} - {{i.post}}</a>
    	</div>
    	<hr />
    	<input id ="MultNav" type="radio" ng-click="dispAddress()"> Multiple Navigation
    	<br />
    	<br />
    	<div id="multAdd">
    	</div>
    	
    	<hr />
        	<input id ="TollBox" type="checkbox"> Avoid Tolls
    <hr />
    <div id="cusDiv">
           	<input id ="DirectBox" type="radio" name="CustOpt" ng-model="checked"> Direct Route
           	<input id ="RevBox" type="radio" name="CustOpt"> Reverse directions
       		<input id ="CustomBox" type="radio" name="CustOpt" ng-click="showCustomAddress()"> Custom Directions
    </div>
    <hr />
    <div id="cusOrderDiv">

    </div>
    <hr />
    <div>
    	<input id ="DestBox" type="checkbox"> Check if destination is the start point
    </div>
    <div>
    <hr />
    <button type="button" class="btn btn-success" ng-click="showRoute()">Show Route</button>
    <br />
    <br />
    
    	<my-map id = map-canvas></my-map>
    	<div id="directionsPanel"></div>
    </div>   
    </div>
</div>
</div>

</module-ui-enabler>