<module-ui-enabler name="masterschedule" ng-controller="MasterController">

<div pageheading>Master Schedule - Properties</div>

<div class="row">
	<div class="row form-inline">
    	<div class="col-lg-12">
    		<ul class="prop">
    			<li class="in" 
    				ng-repeat="p in all_prop">
    				<a ng-click="allIns(p.id)" class="prop-inspect">{{p.unit}} {{p.street}}, {{p.subUrb}}, {{p.city}}, {{p.state}} - {{p.post}}</a>
    		</ul>
    	</div>
    </div>
</div>

</module-ui-enabler>