<module-ui-enabler name="masterschedule" ng-controller="MasterController">

<div pageheading>Master Schedule - Visit Limits</div>

<div class="row">
	<div class="row form-inline">
    	<div class="col-lg-12">
    		<input type="text" ng-model="param.date" class="form-control" placeholder="Date">
    		<br />
    		<br />
    		<input type="text" ng-model="param.limits" class="form-control" placeholder="Limits">
    		<hr/>
    		<button type="button" class="btn btn-success" ng-click="saveLimits()">Update Visit Limits</button>
    	</div>
    </div>
</div>

</module-ui-enabler>