<!-- UI for the settings dialog -->
<div
	class="row"
	ng-controller="MapPlacementSettingsController">
	<div class="col-lg-12">
		<input
			type="text"
			ng-model="param.Latitude"
			class="form-control"
			placeholder="Latitude">
		<!--  -->
		<br />
		<!--  -->
		<input
			type="text"
			ng-model="param.Longitude"
			class="form-control"
			placeholder="Longitude">
	</div>
</div>