<div class="row form-inline">
    <div class="col-lg-12">
        <input type="text" ng-model="param.num1" class="form-control mathsNum1" placeholder="Number 1">
        <!--  -->
        +
        <!--  -->
        <input type="text" ng-model="param.num2" class="form-control" placeholder="Number 2">
        <!--  -->
        =
        <!--  -->
        <input type="text" disabled ng-model="param.sum" class="form-control" placeholder="Sum">
        <!--  -->
        <button type="button" class="btn btn-default" ng-click="add()">Add</button>
    </div>
</div>