<module-ui-enabler name="maths">

<div pageheading>Maths</div>

<div class="row">
	<div class="col-lg-12">

		<feature-ui-enabler
			name="add"
			ng-controller="MathsController">
		<div ng-include="'modules/maths/addFragment.html'"></div>
		</feature-ui-enabler>

		<hr />

		<feature-ui-enabler
			name="subtract"
			ng-controller="MathsController">
		<div ng-include="'modules/maths/subtractFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

<div class="row">

	<div class="col-lg-12 module">

		<div ng-controller="SearchModuleBaseController">{{message}}</div>

		<div ng-controller="SearchModuleController">{{message}}</div>

	</div>
</div>

</module-ui-enabler>

