<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-canvas {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
    	
</style>

<module-ui-enabler name="otherslocation" ng-controller="OthersLocationController">

<div pageheading>See others location</div>

<div class="row">
	<div class="row form-inline">
	<div style="width:800px; margin:0 auto;">
	<form>
	<button type="button" class="btn btn-info" ng-click="getCurrentUserLoc()">Get Location</button>
	<button type="button" class="btn btn-info" ng-click="storeUserLoc()">Show my Location</button>
	<hr />
	<div class="checkbox">
    <label>
      <input id ="chkBox" type="checkbox" ng-model="checked"> Customized results based on event time
    </label>
  	</div>
	<hr />
	<div id="allLoc" class="check-element animate-show" ng-hide="checked">
	<select id="otherDetails" class="form-control">
	<option class="in" ng-repeat="u in otherLoc" value="{{u.user_id}}">{{u.name}}</option>
	</select>
	<button type="button" class="btn btn-success" ng-click="showUserLoc()">Show Location</button>
	</div>
	<div id="specLoc" class="check-element animate-show" ng-show="checked">
	<select id="specDetails" class="form-control">
	<option class="in" ng-repeat="sl in specificLoc">{{sl.recieverName}}</option>
	</select>
	<button type="button" class="btn btn-danger" ng-click="showUserLoc()">Show Location</button>
	</div>
	<p id="url" hidden>{{moduleProvider.getAvatarUri()}}</p>
	</form>
	</div>
	<hr />
    <div class="col-lg-12">
        <my-fence id = map-canvas></my-fence>
        <hr />           
    </div>
</div>
</div>

</module-ui-enabler>