<nav id="topbar" role="navigation" style="margin-bottom: 0;"
	data-step="1"
	data-intro="&lt;b&gt;Topbar&lt;/b&gt; has other styles with live demo. Go to &lt;b&gt;Layouts-&gt;Header&amp;Topbar&lt;/b&gt; and check it out."
	class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse"
			data-target=".sidebar-collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
				class="icon-bar"></span><span class="icon-bar"></span>
		</button>

		<a id="logo"
			data-hint="{{moduleProvider.loggedInUserDetails? moduleProvider.loggedInUserDetails.banch_name_short : 'Trunk'}}"
			href="#/dashboard" class="navbar-brand hint--bottom"> <img
			height="30px" src="core/img/icon.png" /> <paper-ripple
				fit />
		</a>

	</div>
	<div class="topbar-main">
		<a id="menu-toggle" href="javascript:void(0);"
			ng-click="header.toggle('sitebar')" class="hidden-xs"><i
			class="fa fa-bars"></i></a>

		<ul class="nav navbar navbar-top-links navbar-right mbn">

			<li class="dropdown open"><a style="padding: 10px 15px;"
				dropdown"
				href="javascript:void(0);" class="dropdown-toggle"
				aria-haspopup="true" aria-expanded="true"><i
					class="fa fa-tasks fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-tasks">
					<li>
						<p>Choose background image</p>
					</li>
					<li>
						<div class="dropdown-slimscroll">
							<ul>
								<li ng-repeat="b in pageBackground.images"><a
									ng-click="pageBackground.change(b)" href="javascript:void(0)">{{b.name}}</a></li>
							</ul>
						</div>
					</li>
				</ul></li>

			<li class="dropdown topbar-user"><a data-hover="dropdown"
				href="javascript:void(0);" class="dropdown-toggle"><img
					ng-src="{{moduleProvider.getAvatarUri()}}" alt=""
					class="img-responsive img-circle" />&nbsp;<span class="hidden-xs">{{moduleProvider.loggedInUserDetails.first_name}}</span>&nbsp;<span
					class="caret"></span></a>
				<ol class="dropdown-menu dropdown-user pull-right">
					<li><a href="" ng-click="editAccount()"><i
							class="fa fa-edit"></i> Edit Account</a></li>
					<li><a href="" ng-click="logout()"><i
							class="fa fa-sign-out"></i> Log Out</a></li>
				</ol></li>
		</ul>
	</div>
</nav>