<div class="sidebar-collapse menu-scroll collapse" ng-controller="SideMenuController">

  <ul id="side-menu" class="nav admin-nav-main">
    <li class="user-panel noglass">
      <div class="thumb"><img ng-src="{{moduleProvider.getAvatarUri()}}" alt="" class="img-circle"/></div>
      <div class="info">
        <p>{{moduleProvider.loggedInUserDetails.first_name}}</p>
       <ul class="list-inline list-unstyled">
          <li class="noglass hint--right" data-hint="Logout"><a href="" ng-click="logout()" ><i class="fa fa-sign-out"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </li>
    
    <li>
    	<a href="#/dashboard">
    		<i class="fa fa-tachometer fa-fw">
        		<div class="icon-bg bg-orange"></div>
        	</i>
        	<span class="menu-title">Dashboard</span>
        	<paper-ripple fit />
        </a>
    </li>
    
    <li ng-repeat="sup in moduleProvider.sideMenus">
    	<a ng-if="sup.show" href="#" ng-href="{{sup.hrefHash}}" ng-class="{'pointer': sup.hasSubItems}" ng-click="generatedParentMenuClick(sup)">
			<i class="{{sup.icon}}">
        	</i>
        	<span class="menu-title">{{sup.name}}</span>
        	<span ng-if="sup.hasSubItems" class="fa arrow"></span>
        	<paper-ripple fit />
        </a>
        
        <ul class="nav nav-second-level" ng-if="sup.hasSubItems" collapse="sup.collapse">
        	<li ng-repeat="sub in sup.sublinks">
        		<a ng-href="{{sub.hrefHash}}">        		
        			<i ng-class="sub.icon"></i>
        			<span class="submenu-title"> {{sub.name}}</span>
        			<paper-ripple fit />
        		</a>
        	</li>
        </ul>
    </li>
   
  </ul>
</div>