<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-direction {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
    	
    	#directionsPanel {
    		height: 100%;
    		float: none;
    		width: 800px;
    		overflow: auto;
    	}
    	
</style>

<module-ui-enabler name="navigation">

<div pageheading>Navigation</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12">
    	<br />
    	<p>Click Current Location button once before proceeding to Navigate ! Thank you ! </p>
    	<br />
    	<button type="button" class="btn btn-default" ng-click="getCurrent()">Current Location</button>
        <input type="text" id="address" ng-model="param.Address" class="form-control" placeholder="Search location to navigate">
        <!--  -->
        <!--  -->
        <hr />
        <button type="button" class="btn btn-default" ng-click="showNavigation()">Navigate</button>
        <br />
        <br />
        
        <my-dir id = map-direction></my-dir>
        <div id="directionsPanel"></div>
        <div id = "map-canvas"></div>
           
    </div>
</div>
</div>

</module-ui-enabler>