<div class="modal-header popupHeader">
    <h2 class="modal-title">{{title}}</h2>
</div>
<div class="modal-body popupBody">
    <h4>{{message}}</h4>
</div>
<div class="modal-footer marginZero popupFooter">
    <button ng-if="type === 'ok' || type === 'okcancel'" class="btn btn-primary btn-sm" ng-click="ok()">Ok</button>
    <button ng-if="type ==='okcancel'" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button ng-if="type==='yesno'" class="btn btn-primary btn-sm" ng-click="yes()">Yes</button>
    <button ng-if="type==='yesno'" class="btn btn-default btn-sm" ng-click="no()">No</button>
    <button ng-if="type==='close'" class="btn btn-default btn-sm" ng-click="close()">Close</button>
</div>
