<div ng-controller="ViewModifyRolesController">
	<div pageheading>{{module.title}}</div>

	<div class="row">
		<div class="col-lg-12">

			<button
				class="btn btn-success hint--right"
				ng-click="addNewRole()"
				data-hint="Add new role">
				<span class="ion-plus-round"></span>
			</button>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-bordered table-hover table-striped table-condensed">
						<tr style="font-weight: bold">
							<td style="width: 20%">Name</td>
							<td style="width: 40%">Description</td>
							<td style="width: 20%">Parent Role</td>
							<td style="width: 13%">Edit</td>
						</tr>
						<tr ng-repeat="r in allRoles">
							<td>
								<!--  --> <span
								editable-text="r.name"
								e-name="name"
								e-form="rowform"
								onbeforesave="validateName($data)"
								e-required>{{ r.name }}</span>
							</td>
							<td>
								<!--  --> <span
								editable-text="r.description"
								e-name="description"
								e-form="rowform"
								e-required>{{ r.description || '' }}</span>
							</td>
							<td>
								<!--  --> <span
								editable-select="r.parent_role_id"
								e-name="parent_role_id"
								e-form="rowform"
								e-ng-options="s.id as s.name for s in getRolesToPickAsParent(r)"
								e-required>{{ getRoleNameById(r.parent_role_id) || '' }}</span>
							</td>
							<td>
								<form
									editable-form
									name="rowform"
									onbeforesave="saveRole(r, $data)"
									ng-show="rowform.$visible"
									class="form-buttons form-inline"
									shown="inserted == r">
									<button
										type="submit"
										ng-disabled="rowform.$waiting"
										data-hint="Save edits"
										class="btn btn-primary hint--left">
										<span class="fa fa-save"></span>
									</button>
									<button
										type="button"
										ng-disabled="rowform.$waiting"
										ng-click="cancel(rowform, $data)"
										data-hint="Ignore edits"
										class="btn btn-default hint--right">
										<span class="fa fa-times"></span>
									</button>
								</form>

								<div
									class="buttons"
									ng-show="!rowform.$visible">
									<button
										data-hint="Edit the role"
										class="btn btn-primary hint--right"
										ng-click="rowform.$show()">
										<span class="fa fa-edit"></span>
									</button>
									<button
										data-hint="Delete the role"
										class="btn btn-danger hint--left"
										ng-click="removeRole(r)">
										<span class="fa fa-trash-o"></span>
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>