<script>
    ready = function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places';
        document.body.appendChild(script);
      };
</script>

<style>
		#map-canvas {
    		height: 400px;
    		width: 700px;
    		border: 2px solid black;
    	}
</style>

<module-ui-enabler name="fencealert" ng-controller="FenceAlertController">

<div pageheading>Alerting</div>

<div class="row">
	<div class="row form-inline">
    <div class="col-lg-12">
    <br />
    	<p>Click Current Location button once before proceeding to Navigate ! Thank you ! </p>
    	<br />
    	<button type="button" class="btn btn-default" ng-click="getCurrentLoc()">Current Location</button>
    	<hr />
        <button type="button" class="btn btn-default" ng-click="setInterval(alertFence(),3000);">Start Alert function</button>
        <br />
        <hr />
        <my-fence id = map-canvas></my-fence>
        <hr />           
    </div>
</div>
</div>

</module-ui-enabler>